* {
    margin: 0 auto;
}

/*    Navbar    */
/* ============ */
h1 {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
}


/*    Blog    */
/* ============ */
.post-container {
    width: 85%;
    margin-bottom: 5rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem;
  }
  
.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row div .blog-title {
    font-size: large;
    font-weight: bolder;
}

.row div .blog-date {
    font-size:small;
    font-weight: lighter;
    color: rgb(186, 179, 179);
}

.left-column {
    border: 5px solid rgb(164, 163, 163);
    border-radius: 2px;
    height: 30rem;
    width: 50rem;
    padding: 2rem;
}

.left-column:hover {
    border: 1px solid rgb(164, 163, 163)
}

.left-column .blog-head {
    color: rgb(55, 120, 233);
    font-weight: bold;
}
  
.right-column {
    border: 5px solid rgb(164, 163, 163);
    border-radius: 2px;
    height: 30rem;
    width: 50rem;
    padding: 2rem;
}

.right-column:hover {
    border: 1px solid rgb(164, 163, 163)
}

.right-column .blog-head {
    color: rgb(56, 174, 97);
    font-weight: bold;
}

  

/* .post-card {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    flex: 1;
    padding: 10px; 
    flex-grow: 1;
    width: 33%;
    height: 100px;
} */

/* .post-container >div:nth-child(even) {
    background: #23a;
}
  
.post-container>div:nth-child(odd) {
    background: #49b;
} */

/*    Footer    */
/* ============ */
footer {
    background-color: rgb(235, 232, 232);
    height: 120px;
}

.footer-content {
    text-align: center;
    padding-top: 30px;
    color: rgb(138, 136, 136);
}